

    <style>

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}

body, html {
    height: 100%;
    margin: 0;
}

.bg1, .bg2, .bg3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        }

.bg1 {
    background-image: url(Photos/Logo.png);
    min-height: 575px;
        }

.bg2{
    background-image:url(Photos/ToDKeyArt3.jpg);
    min-height: 250px;
        }
        
.bg3 {
    background-image: url(Photos/MonsterManualFeatured.jpg);
    height: 600px;
    width: 100%;
        }
/*change this later, cuz parallax scrolling is cool to have*/

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
        
.contentparallax {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: grey;
}
        
.contentparallax span.border{
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
        }
        
.nav {
    height: 0;
    width: 100%;
	padding-left: 50%;
    position: fixed;
    z-index:2;
    left: 0;
    top: 5%;
    overflow-y: hidden;
    transition: 0.5s;
	text-align: center;
}

.nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.5s;
}

.nav a:hover {
    color:white;
    transition: 0.5s;
    text-decoration: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:red;
    margin: 6px 0;
    transition: 0.4s;
	display: block;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.menubtn{
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 100%;
    color: red;
    padding: 4px;
    z-index: 1;
}

.menubtn:hover {
    color:white;
    transition: 0.3s;
}

.menutab{
    font:helvetica;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: black;	
	display: block;
	text-align: center;
}

.menutab:hover {
    border-top-color:darkslategray;
    border-top-style:solid;
    border-top-width:thick;
	border-bottom:darkslategray;
    border-bottom-style:solid;
    border-bottom-width:thick;
    transition: 0.3s;
    background-color: slategray;
}

.menutabactive {
	background-color:teal;
}

.menutabactive:hover {
	border-top-color:darkslategray;
	border-top-style:solid;
    border-top-width:thick;
    transition: 0.3s;
    background-color: teal;
}

img {
    display: block;
    margin: auto;
    width:100%;
    height: 100%;
    padding: 10px 10px;
    background-color: beige;
}

.footer {
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    background-color: black;
    font-size: 12px;
    text-align: center;
    position: fixed;
}

.content {
    padding: 35px;
    text-align: center;
    background-color:white;
    font-size: 16px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-bottom-color:slategray;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-top-color: slategray;
    border-top-style: solid;
    border-top-width: thick;
}

p {
    display: inline-block;
    margin-top: 50px;
    font-family: helvetica;
    color: darkslategray;
        }

    </style>